.hero-container {
	position: relative;
}

.hero-context {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	display: flex; /* Added */
	justify-content: center; /* Added */
	align-items: center; /* Added */
}

.hero-button {
	padding: 1.3rem 2rem;
	background-color: #ffb800;
	border-radius: 15px;
	appearance: none;
	border: none;
	-webkit-appearance: none; /* For Safari */
	-moz-appearance: none; /* For Firefox */
}

.hero-detail-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 5rem;
}
