header {
	display: none;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 70px;
	height: 70px;
}

@media screen and (min-width: 767px) {
	header {
		display: flex;
	}
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 16px;
	align-items: center;
	font-size: 1.5rem;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.language {
	border: 2px solid;
	border-radius: 10px;
	overflow: hidden;
}

.language button {
	background: none;
	color: black;
	background-color: white;
	outline: none;
	border: 0;
	cursor: pointer;
	padding: 5px 10px;
	font-weight: 600;
}

.language button.inactive {
	background-color: black;
	color: white;
}
