html {
	scroll-behavior: smooth;
}
/* Reset CSS */
/* Applies a basic reset to normalize browser styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Styles */
/* Apply styles to the body and HTML elements */
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
}

/* header style */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lalezar', system-ui; /* Specify the custom font and fallback */
	font-weight: 600; /* Specify font weight */
	font-style: normal; /* Specify font style */
}

h1 {
	font-weight: 900;
}

/* Container Styles */
.container {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

/* Header Styles */
/* header {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
} */

/* Navigation Styles */
nav {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

nav ul {
	list-style: none;
}

nav ul li {
	margin: 0 10px;
}

/* nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

nav ul li a:hover {
	background-color: #555;
} */

/* Main Content Styles */
main {
	padding: 20px 0;
}

/* Footer Styles */
/* footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
} */
